@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --morocco-red: 358, 66%, 45%; /* #C3232B */
    --morocco-green: 149, 82%, 17%; /* #084F2A */
    --morocco-light-red: 0, 64%, 48%; /* #C82C2C */
    --morocco-deep-red: 355, 72%, 28%; /* #79141C */
    --morocco-light-green: 150, 95%, 30%; /* #04944c */

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --morocco-red: 358, 66%, 45%;
    --morocco-green: 149, 82%, 17%;
    --morocco-light-red: 0, 64%, 48%;
    --morocco-deep-red: 355, 72%, 28%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-shape-divider-bottom-1702304859 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702304859 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1702304859 .shape-fill {
  fill: hsl(var(--morocco-deep-red));
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1702304859 svg {
    width: calc(100% + 1.3px);
    height: 100px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1702304859 svg {
    width: calc(300% + 1.3px);
    height: 100px;
  }
}

.custom-shape-divider-bottom-1702232323 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702232323 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1702232323 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1702232323 svg {
    width: calc(300% + 1.3px);
    height: 100px;
  }
}

.custom-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bubble-background {
  background-image: url("assets/blurry-gradient-haikei.svg");
}

.blob-background {
  background-image: url("assets/blob-scene-haikei.svg");
}
